<div class="profile-section animate__animated animate__fadeInUp">

    {{> navprofile}}

    <div class="body-container d-flex flex-column flex-lg-row gap-5">

        <div class="accounts">
            <div class="d-flex justify-content-between mb-3">
                <h2>Accounts</h2>
                <span class="icon-btn">
                    <i class="fa-regular fa-credit-card"></i>
                </span>
            </div>


            <div class="d-flex flex-column flex-sm-row flex-lg-column gap-3 justify-content-center align-items-center">

                <div class="card-container">
                    <div>
                        <h4>
                            Credit Account
                        </h4>
                        {{#if showIcon}}
                        <span class="icon-btn">
                            <i class="fa-regular fa-eye"></i>
                        </span>
                        {{else}}
                        <span class="icon-btn">
                            <i class="fa-regular fa-eye-slash"></i>
                        </span>
                        {{/if}}
                    </div>
                    <div id="credit-balance-hide" style="display: none;">
                        <i class="fa-solid fa-dollar-sign"></i>
                        {{ user.credit_balance}}
                    </div>
                    <div id="credit-balance">
                        *********
                    </div>
                    <hr>
                    <div class="card-information" id="credit-card-number-hide" style="display: none;">
                        <p>{{user.credit_card_number}}</p>
                        <div>
                            <p>
                                Exp. Date
                            </p>
                            <p>{{formatDate user.credit_card_expiration_date}}</p>
                        </div>
                    </div>
                    <div id="credit-card-number">
                        *********
                    </div>
                    <div>
                        {{ user.first_name}} {{ user.last_name}}
                    </div>
                </div>
                <div class="card-container">
                    <div>
                        <h4>
                            Saving Account
                        </h4>
                        {{#if showIcon}}
                        <span class="icon-btn">
                            <i class="fa-regular fa-eye"></i>
                        </span>
                        {{else}}
                        <span class="icon-btn">
                            <i class="fa-regular fa-eye-slash"></i>
                        </span>
                        {{/if}}
                    </div>
                    <div id="savings-balance-hide" style="display: none;">
                        <i class="fa-solid fa-dollar-sign"></i>
                        {{ user.savings_balance}}
                    </div>
                    <div id="savings-balance">
                        *********
                    </div>
                    <hr>
                    <div class="card-information" id="savings-card-number-hide" style="display: none;">
                        <p>{{ user.savings_card_number}}</p>
                        <div>
                            <p>
                                Exp. Date
                            </p>
                            <p>{{formatDate user.savings_card_expiration_date}}</p>
                        </div>
                    </div>
                    <div id="savings-card-number">
                        *********
                    </div>
                    {{ user.first_name}} {{ user.last_name}}
                </div>
            </div>

        </div>

        {{!--table --}}
        <div class="table-transaction">
            <div>
                <div class="d-flex justify-content-between mb-3">
                    <h2>Historical Transactions</h2>
                    {{#if showIcon}}
                    <span class="icon-btn" id="toggle-transaction-btn">
                        <i class="fa-regular fa-eye-slash"></i>
                    </span>
                    {{else}}
                    <span class="icon-btn" id="toggle-transaction-btn">
                        <i class="fa-regular fa-eye"></i>
                    </span>
                    {{/if}}
                </div>
                <table id="toggle-transaction-table" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Account</th>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each userTransaction}}
                        <tr>
                            <td>{{this.account_type}}</td>
                            <td>{{formatDate this.transaction_date}}</td>
                            <td>{{this.transaction_type}}</td>
                            <td>{{this.amount}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div class="hide-img" id="toggle-transaction-img">
                    <img src="./img/hide-document.svg" alt="hide image">
                </div>
            </div>
        </div>

        <div class="chart">
            <div class="d-flex justify-content-between mb-3">
                <h2>Assets</h2>
                {{#if showIcon}}
                <span class="icon-btn" id="toggle-assets-btn">
                    <i class="fa-regular fa-eye-slash"></i>
                </span>
                {{else}}
                <span class="icon-btn" id="toggle-assets-btn">
                    <i class="fa-regular fa-eye"></i>
                </span>
                {{/if}}
            </div>
            <div id="toggle-assets-chart" class="chart-img">
                <canvas id="myChart" class="m-auto"></canvas>
            </div>
            <div class="hide-img" id="toggle-assets-img">
                <img src="./img/hide-document.svg" alt="hide image">
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/2.24.0/date-fns.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.icon-btn').click(function () {
            $(this).find('i').toggleClass('fa-eye fa-eye-slash');
            var container = $(this).closest('.card-container');
            container.find('#credit-balance').toggle();
            container.find('#credit-balance-hide').toggle();
            container.find('#credit-card-number').toggle();
            container.find('#credit-card-number-hide').toggle();
            container.find('#savings-balance').toggle();
            container.find('#savings-balance-hide').toggle();
            container.find('#savings-card-number').toggle();
            container.find('#savings-card-number-hide').toggle();
        });

        $("#toggle-transaction-table").show();
        $("#toggle-transaction-img").hide();
        $("#toggle-transaction-btn").click(function () {
            $("#toggle-transaction-table").toggle();
            $("#toggle-transaction-img").toggle();

        });

        $("#toggle-assets-chart").show();
        $("#toggle-assets-img").hide();

        $("#toggle-assets-btn").click(function () {
            $("#toggle-assets-chart").toggle();
            $("#toggle-assets-img").toggle();
        });

    });

    function formatDate(date) {
        const { format } = window.dateFns;
        return format(date, 'dd-MM-yy');
    }

    axios.get('/userAssets')
        .then(response => {
            const userAssets = response.data;
            console.log(userAssets);
            const assetTypes = userAssets.map(asset => asset.asset_name);
            const assetQuantities = userAssets.map(asset => parseFloat(asset.asset_quantity))

            const ctx = document.getElementById('myChart');
            new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: assetTypes,
                    datasets: [{
                        data: assetQuantities,
                        borderWidth: 3,
                        hoverOffset: 4
                    }]
                },
            });
        })
        .catch(error => {
            console.error('Error fetching user assets:', error);
        });

</script>
