<div class="profile-section animate__animated animate__fadeInUp">
    {{> navprofile}}
    <div class="transfer-container">
        <div class="select-trasnfer">
            <h4>What action would you like to take?</h4>
            <div id="type-transaction">
                <button value="Withdrawal" id="withdrawalBtn" class="btn btn-primary flex-grow-1">Withdrawal
                    <img src="./img/withdrawal-icon.svg" alt="transfer money">
                </button>

                <button value="Deposit" id="depositBtn" class="btn btn-primary flex-grow-1">Deposit
                    <img src="./img/transfer-icon.svg" alt="transfer money">
                </button>
            </div>

            <div id="depositForm" class="form-container" style="display: none;">
                <form>
                    <div class="d-flex flex-column gap-3">

                        <div class="d-flex gap-3">
                            <h4>Balance</h4>
                            <div id="balanceDisplay"></div>
                        </div>

                        <div class="form-floating">
                            <select class="form-select" id="accountSelect">
                                <option selected>
                                    Select an option
                                </option>
                                <option value="credit" data-type="{{credit_account_id}}">
                                    Credit Account | {{ user.credit_card_number}}
                                </option>
                                <option value="savings" data-type="{{savings_account_id}}">
                                    Saving Account | {{ user.savings_card_number}}
                                </option>
                            </select>
                            <label for="accountSelect">Select account</label>
                        </div>
                        <div class="form-floating" id="TransferUserList">
                            <select class="form-select" id="userSelect">
                                <option selected>
                                    Select an option
                                </option>
                                {{#each allUsers}}
                                <option value="{{user_id}}">{{first_name}} {{last_name}}</option>
                                {{/each}}
                            </select>
                            <label for="userSelect">Select user</label>
                        </div>
                        <div class="form-floating">
                            <input type="number" class="form-control" id="amountSelect" name="amountSelect"
                                placeholder="Amount">
                            <label for="amountSelect">Amount</label>
                        </div>
                        <button type="button" class="btn btn-primary" id="confirmButton">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
        {{!-- --}}
        <div class="section-deposit">
            <img src="./img/deposit-img.svg" alt="deposit-pig">
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        let typeTransaction

        $('#type-transaction .btn').click(function () {
            $('#type-transaction .btn').not(this).css('opacity', '0.2');
            $(this).css('opacity', '1');
            typeTransaction = $(this).val();
            console.log('Selected value:', typeTransaction);

            if (typeTransaction !== '') {
                document.getElementById('depositForm').style.display = 'block';
            } else {
                document.getElementById('depositForm').style.display = 'none';
            }
            if (typeTransaction === 'Withdrawal') {
                $('#TransferUserList').hide();
            } else if (typeTransaction === 'Deposit') {
                $('#TransferUserList').show();
            }
        });


        const accountSelect = document.getElementById('accountSelect');
        const balanceDisplay = document.getElementById('balanceDisplay');
        const confirmButton = document.getElementById('confirmButton');
        const form = document.querySelector('form');

        accountSelect.addEventListener('change', function () {
            const selectedOption = accountSelect.value;
            if (selectedOption === 'credit') {
                balanceDisplay.textContent = '{{user.credit_balance}}';
            } else if (selectedOption === 'savings') {
                balanceDisplay.textContent = '{{user.savings_balance}}';
            } else {
                balanceDisplay.textContent = '';
            }
        });

        confirmButton.addEventListener('click', function (e) {
            e.preventDefault();
            const selectedAccount = document.getElementById('accountSelect').value;
            const selectedUser = document.getElementById('userSelect').value;
            const amountSelect = document.getElementById('amountSelect').value.toString();
            const userId = '{{user.user_id}}';
            const formData = {
                giver: userId,
                accountId: '22',
                account: selectedAccount,
                receiver: selectedUser,
                type: typeTransaction,
                amount: amountSelect
            };

            if (!selectedAccount || !selectedUser || !amountSelect) {
                swal("Error", "Please fill in all fields", "error");
                return;
            }

            try {
                console.log(formData)
                axios.post('/transaction', formData)
                    .then(response => {
                        swal("Success", "Withdrawal successful", "success").then(() => {
                            form.reset();
                        });
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        swal("Error", "An error occurred", "error");
                    });
            } catch (error) {
                console.error('Error:', error);
                swal("Error", "An error occurred", "error");
            }
        });
    });
</script>
