<div class="profile-section animate__animated animate__fadeInUp">

    {{> navprofile}}

    <div class="transfer-container">
        <form onsubmit="event.preventDefault();">
            <div class="d-flex flex-column gap-3">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid">
                        <option selected>Select an option</option>
                        <option value="credit_card_number">Credit Account: {{ user.credit_card_number}}</option>
                        <option value="savings_card_number">Saving Account: {{ user.savings_card_number}}</option>
                    </select>
                    <label for="floatingSelectGrid">Select account</label>
                </div>
                <div class="form-floating">
                    <select class="form-select" id="userSelect">
                        {{!-- --}}
                    </select>
                    <label for="userSelect">Select user</label>
                </div>
                <div class="form-floating">
                    <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount">
                    <label for="amount">Amount</label>
                </div>
                <button type="button" class="btn btn-primary" onclick='verify()'>Confirm</button>
            </div>
        </form>
        <div>
            <img src="./img/deposit-img.svg" alt="deposit">
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", async function () {
        async function getUsersData() {
            try {
                const response = await fetch('/users');
                const usersData = await response.json();
                console.log(usersData);
                return usersData;
            } catch (error) {
                console.error('Error fetching users data:', error);
            }
        }

        async function renderUserOptions() {
            const usersData = await getUsersData();
            const userOptionTemplate = Handlebars.compile(`
                {{#each users}}
                    <option value="{{user_id}}">{{first_name}} {{last_name}}</option>
                {{/each}}
            `);
            const userSelect = document.getElementById('userSelect');
            userSelect.innerHTML = userOptionTemplate({ users: usersData });
        }

        renderUserOptions();
    });
</script>
